/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* Header Styling */
.navbar {
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-removebg {
    height: 50px;
}

/* Carousel Styling */
.carousel {
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 15px;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
}


.product-item {
    background-color: #eaf8d3;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

/* Footer Styling */
footer {
    background: #e3f2fd;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

footer img {
    height: 40px;
}
